# Operating System
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
.vscode/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Java / Maven
target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# Logs & Storage
*.log
storage/uploads/
